.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #242424;
  padding: 15px 40px;
  color: white;
}

.logo {
    margin-right: 10px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.nav-links a:hover {
  color: #61dafb;
}
